@import "reset"; //Reset、初始設定
@import "mixin"; //Flex、@media

html,
body {
  height: 100%;
  width: 100%;
}

#map {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.marker-cluster-small {
  background-color: rgba(181, 226, 140, 0.6);
}

.marker-cluster-small div {
  background-color: rgba(110, 204, 57, 0.6);
}

.marker-cluster-medium {
  background-color: rgba(241, 211, 87, 0.6);
}

.marker-cluster-medium div {
  background-color: rgba(240, 194, 12, 0.6);
}

.marker-cluster-large {
  background-color: rgba(253, 156, 115, 0.6);
}

.marker-cluster-large div {
  background-color: rgba(241, 128, 23, 0.6);
}

.marker-cluster {
  background-clip: padding-box;
  border-radius: 20px;
}

.marker-cluster div {
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;

  text-align: center;
  border-radius: 15px;
  font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.marker-cluster span {
  line-height: 30px;
}

.container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
  overflow-y: scroll;
  width: 300px;
  height: 100vh;
  background-color: #fff;
}

.info {
  @include disFlex($jc: space-around);
  flex-wrap: wrap;
  position: fixed;
  width: 300px;
  padding: 5px;
  text-align: center;
  color: #fff;
  background-color: #73C0D8;

  &__today {
    font-size: 29px;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: end;

    &__id {
      font-size: 8px;

      span {
        font-size: 16px;
        font-weight: 600;
        color: #FFF126;
      }
    }
  }

  &__selectArea {
    margin: 10px 0;
    width: 100%;

    select {
      margin: 0 2px;
      padding: 5px;
      width: 125px;
      font-size: 16px;
      border: 0;
      border-radius: 2px;
    }
  }

  &__searchBar {
    margin: 0 0 10px 0;

    input {
      padding: 5px;
      margin: 0 2px;
      width: 200px;
      font-size: 16px;
      border: 0;
      border-radius: 2px;
    }

    button {
      padding: 2.5px;
      margin: 0 2px;
      width: 50px;
      font-size: 16px;
      border: 0;
      border-radius: 2px;
      cursor: pointer;
      transition: all 0.1s linear;
      ;

      &:hover {
        filter: brightness(120%);
      }
    }
  }
}

.main {
  color: #000;
  padding-top: 146.5px;
}

.card {
  padding: 10px;
  color: #666666;
  font-size: 14px;
  border-bottom: 1px solid #00000029;

  &__name {
    margin-bottom: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
  }

  &__add {
    margin-bottom: 5px;
  }

  &__tel {
    margin-bottom: 5px;
  }

  &__open {
    margin-bottom: 5px;
  }

  &__maskNum {
    @include disFlex($jc: space-around);

    div {
      @include disFlex($jc: space-around);
      padding: 5px;
      width: 130px;
      height: 25px;
      color: #fff;
      border-radius: 25px;
    }
  }
}

.bgc-none {
  background-color: #A5A5A5;
}

.bgc-child {
  background-color: #FFA573;
}

.bgc-adult {
  background-color: #73C0D8;
}

.time {
  position: fixed;
  bottom: 0;
  padding: 5px;
  width: 300px;
  text-align: center;
  color: #fff;
  background-color: #73C0D8;
}